@page 
@model MutantOrchidTradingSysRazorPage.Pages.Admin.ManageProduct.EditModel
@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eflower Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/user/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~user/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <!-- CUSTOM STYLES-->
    <link href="~user/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link href="~user/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Admin/ManageCustomer/ManageCustomer" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold" style="color: #D19C97;"><span class="text-primary font-weight-bold border px-3 mr-1" style="color: #D19C97;">E|</span>Flower</h1>
                </a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">
                <a href="/Logout" class="btn btn-danger square-btn-adjust">Đăng Xuất</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a asp-page="/Admin/ManageProduct/ManageProduct" style="color: #D19C97;"><i class="fa fa-dashboard fa-3x"></i> Quản Lý Sản Phẩm</a>
                    </li>
                    <li>
                        <a asp-page="/Admin/ManageCustomer/ManageCustomer" style="color: #D19C97;"><i class="fa fa-desktop fa-3x"></i> Quản Lý Tài Khoản</a>
                    </li>
                    <li>
                        <a asp-page="/Admin/ManageOrder/ManageOrder" style="color: #D19C97;"><i class="fa fa-qrcode fa-3x"></i> Quản Lý Đơn Hàng</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Chỉnh Sửa Sản Phẩm</h2>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />

                <div class="row" id="editForm">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UpdatedProduct.Id" />
                                <div>
                                    <form method="post" asp-page-handler="OnPost">
                                        <input type="hidden" asp-for="UpdatedProduct.Id" />
                                        <label asp-for="UpdatedProduct.Name">Tên Sản Phẩm:</label>
                                        <input type="text" class="form-control" asp-for="UpdatedProduct.Name">

                                        <label asp-for="UpdatedProduct.Description">Mô Tả:</label>
                                        <textarea class="form-control" asp-for="UpdatedProduct.Description"></textarea>

                                        <label asp-for="UpdatedProduct.Price">Giá:</label>
                                        <input type="number" class="form-control" asp-for="UpdatedProduct.Price">

                                        <label asp-for="UpdatedProduct.Quantity">Số Lượng:</label>
                                        <input type="number" class="form-control" asp-for="UpdatedProduct.Quantity">

                                        <label asp-for="UpdatedProduct.Path">Đường Dẫn:</label>
                                        <input type="text" class="form-control" asp-for="UpdatedProduct.Path" style="margin-bottom: 10px;" />

                                        <div class="text-right">
                                            <input type="submit" value="Chỉnh Sửa" class="btn btn-danger">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a asp-page="./ManageProduct" style="color: #D19C97;">Quay Lại Danh Sách Sản Phẩm</a>
                </div>

                        <!--End Advanced Tables -->
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>

    </div>
    <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- jQuery -->
    <script src="~user/js/jquery-1.10.2.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="~user/js/bootstrap.min.js"></script>

    <!-- Other Scripts -->
    <script src="~user/js/jquery.metisMenu.js"></script>
    <script src="~user/js/dataTables/jquery.dataTables.js"></script>
    <script src="~user/js/dataTables/dataTables.bootstrap.js"></script>
    <script src="~user/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~user/js/custom.js"></script>


</body>
</html>
