<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhanSyTrongRazorPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhanSyTrongRazorPage.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Admin/ManageCustomer/ListCustomer">PhanSyTrongRazorPage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item m-2">
                            <a class="btn btn-outline-primary" asp-area="" asp-page="/CustomerUI/BookingList">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item m-2 ml-auto">
                            <a asp-page="./EditProfile" class="btn btn-outline-success">Edit Profile</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="btn btn-outline-warning " checked autocomplete="off" id="logoutButton" href="#">Logout</a>
                        </li>     
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - PhanSyTrongRazorPage - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $('#logoutButton').on('click', function () {
            var confirmLogout = confirm("Are you sure you want to logout?");

            if (confirmLogout) {
                window.location.href = '/Logout';
            }
        });
    });

    $(document).ready(function () {
        $('.delete-button').on('click', function () {
            var customerId = $(this).data('customer-id');
            var confirmDelete = confirm("Are you sure you want to delete customer with ID: " + customerId);

            if (confirmDelete) {
                // Perform the delete action here
                window.location.href = './CustomerDelete?id=' + customerId;
            }
        });
    });
</script>