@page
@model MutantOrchidTradingSysRazorPage.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en" id="theme" class="light">


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:15:59 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../cdn-cgi/apps/head/hwGM7B4uQy9K8KyLEDAfJqNEXmU.js"></script>
    <link rel="shortcut icon" href="../user/img/auction/images/auction-fevicon.png">
    <title>Login</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="~/user/css/auction/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/style.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/auction/responsive.css" type="text/css">

</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader bg-light" id="preloader">
        <span class="preloader-inner"></span>
    </div>
    <!-- Preloader End -->
    <div class="toggle-theme d-none">
        <input type="checkbox" class="changeTheme" id="changeTheme">
        <label for="changeTheme" class="m-auto"></label>
    </div>
    <div class="login-wrapper" id="login-wrapper" style="background-image: url('../user/img/auction/images/login-bg.svg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="form-wrapper text-center">
                        <a class="d-inline-block mb-2" href="index.html">
                            <img src="../user/img/auction/images/auction-fevicon.png" class="themeLogo img-fluid" alt="logo">
                        </a>
                        <h2 class="display-6 fw-bold mb-3">Log In</h2>
                        <p class="mb-4">Add your credentials below to login</p>
                        <form method="post" asp-page="/Login">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>UserName*</label>
                                        <input type="text" id="UserName" asp-for="username" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-group formPassword">
                                        <label>Password*</label>
                                        <input type="password" id="Password" asp-for="password" class="form-control" required />
                                        <span class="input-checker password-show-hide">
                                            <i class="fa-regular fa-eye-slash"></i>
                                        </span>
                                       
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    <button class="primary-btn w-100" type="submit">Login</button>
                                </div>
                            </div>
                           
                        </form>
                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <p class="alert alert-danger" role="alert">@ViewData["Message"]</p>
                        }
                        <div class="row">
                            <p>Don't have an account? <a href="/Register">Create an account</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="~/user/js/auction/jquery.min.js"></script>
    <script src="~/user/js/auction/bootstrap.bundle.min.js"></script>
    <script src="~/user/js/auction/swiper.min.js"></script>
    <script src="~/user/js/auction/custom.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                if (localStorage.storedValue == 'dark') {
                    $('#changeTheme').prop('checked', true);
                    $('#changeTheme1').prop('checked', true);
                    document.getElementById("theme").className = "dark";
                    document.getElementById('login-wrapper').style.backgroundImage = "url('../user/img/auction/images/login-bg-dark.svg')";
                }
                else {
                    $('#changeTheme').prop('checked', false);
                    $('#changeTheme1').prop('checked', false);
                    document.getElementById("theme").className = "light";
                    document.getElementsByClassName('login-wrapper').style.backgroundImage = "url('../user/img/auction/images/login-bg.svg')";
                }

            });
        });
    </script>
    <script>(function () { var js = "window['__CF$cv$params']={r:'8625a2802f5de65a',t:'MTcxMDA5ODE0MC4yODgwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../cdn-cgi/challenge-platform/h/b/scripts/jsd/aeb70db32f0f/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
</body>


<!-- Mirrored from theme.bitrixinfotech.com/bidzone/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 19:15:59 GMT -->
</html>