@page
@model PhanSyTrongRazorPage.Pages.CustomerUI.EditProfileModel
@{
	Layout = "/Pages/Shared/_LayoutCustomer.cshtml";
}
<h3>Edit Profile</h3>
<hr />
<div class="row">
	<div class="col-md-4">
		<form id="updateForm" method="post">
			<div class="form-group">
				<label for="customerName">Full Name:</label>
				<span asp-validation-for="customer.CustomerFullName" class="text-danger fw-bold"></span>
				<input type="text" id="customerName" class="form-control" asp-for="customer.CustomerFullName" />
			</div>
			<div class="form-group">
				<label for="customerEmail">Email:</label>
				<span asp-validation-for="customer.EmailAddress" class="text-danger fw-bold"></span>
				<input type="email" id="customerEmail" class="form-control" asp-for="customer.EmailAddress" />
			</div>
			<div class="form-group">
				<label for="customerBirthday">Birth day:</label>
				<span asp-validation-for="customer.CustomerBirthday" class="text-danger fw-bold"></span>
				<input type="date" id="customerBirthday" class="form-control" asp-for="customer.CustomerBirthday"
					   value="@Model.customer.CustomerBirthday.Value.Date.ToString("yyyy-MM-dd")"
					   max="@DateTime.Now.ToString("yyyy-MM-dd")" />
			</div>
			<div class="form-group">
				<label for="customerTelephone">Telephone:</label>
				<span asp-validation-for="customer.Telephone" class="text-danger fw-bold"></span>
				<input type="text" id="customerTelephone" class="form-control" asp-for="customer.Telephone" />
			</div>
			<div class="form-group">
				<label for="customerStatus">Status:</label>
				<span asp-validation-for="customer.CustomerStatus" class="text-danger fw-bold fw-bold"></span>
				<input type="number" id="customerStatus" class="form-control" asp-for="customer.CustomerStatus" />
			</div>

			<button type="submit" class="btn btn-primary mt-3">Save</button>
		</form>
	</div>
</div>
